{% extends 'home/base2.html' %}
{% load floattags %}

{% block base2 %}
<div class="left-ads-display col-lg-8">
    <p style="font-weight: bold;"><a href="{{ previous_page }}" class="pr_p"> << Предыдущая страница </a></p>
    <div class="row">
        <div class="desc1-left col-md-6">
            <img src="{{ actor.image.url }}" class="img-fluid" alt="">
        </div>
        <div class="desc1-right col-md-6 pl-lg-4">
            <ul>
                <li style="list-style: none"><h2>{{ actor.name }}</h2></li>
                <li style="list-style: none"><p class="editContent" style="font-size: 20px">{{ actor.eng_name }}</p></li>
                <li style="list-style: none"><span><b>Дата рождения: </b> {{ actor.date_of_birth }}</span></li>
                <li style="list-style: none"><span><b>Место рождения: </b> {% if actor.country %}{{ actor.country }}{% else %} - {% endif %}</span></li>
                <li style="list-style: none"><span><b>Возраст: </b> {{ actor.age }} лет</span></li>
                <li style="list-style: none"><span><b>Рост: </b> {% if actor.height %}{{ actor.height|formatted_float_2 }} м {% else %} - {% endif %}</span></li>
                <li style="list-style: none">
                    <span><b>Режиссер: </b>
                        {% if actor.film_director.all %}
                            {% for movie in actor.film_director.all %}
                                <a href="{{ movie.get_absolute_url }}" class="pr_p">{{ movie.title }}{% if not forloop.last %}, {% else %} {% endif %}</a>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </span></li>
                <li style="list-style: none">
                    <span><b>Актер: </b>
                        {% if actor.film_actor.all %}
                            {% for movie in actor.film_actor.all %}
                                    <a href="{{ movie.get_absolute_url }}" class="pr_p">{{ movie.title }}{% if not forloop.last %}, {% else %} {% endif %}</a>
                            {% endfor %}
                        {% else %}
                            -
                        {% endif %}
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row sub-para-w3layouts mt-5">
        <p class="editContent" style="outline: none; cursor: inherit;"><b>{{ actor.description|linebreaks }}</b></p>
    </div>
</div>

{% endblock base2 %}