<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <!-- //Meta tag Keywords -->
    <title>Movie-Site</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- //Meta tag Keywords -->
    <!-- Custom-Files -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Bootstrap-Core-CSS -->
    <!--/ Style-CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all">
    <!--// Style-CSS -->
    <!-- font-awesome-icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon"/>
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <!-- //font-awesome-icons -->
    <!-- /Fonts -->
    <link href="//fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900"
          rel="stylesheet">
    <!-- //Fonts -->
</head>

<body>

<div id="page" class="page"><!-- mian-content -->
    <div class="main-banner inner bg bg1" id="home"
         style="background-color: rgba(0, 0, 0, 0); margin-top: 0px; background-image: {% static 'images/Batman3.jpg' %}">
        <!-- header -->
        <header class="header">
            <div class="container-fluid px-lg-5">
                <!-- nav -->
                <nav class="py-4">
                    <div id="logo">
                        <h1><a href="{% url 'home' %}" class="editContent"
                               style="outline: none; outline-offset: -2px; cursor: pointer; color: rgb(255, 255, 255); font-size: 40px; background-color: rgba(0, 0, 0, 0); font-family: &quot;Source Sans Pro&quot;, sans-serif;"><img
                                src="{% static 'images/Movie-site_logo.jpg' %}" alt="" style="width: 45px; height: 45px; filter: brightness(3); margin-right: 10px; margin-bottom: 20px;">Movie-Site</a>
                        </h1>
                    </div>

                    <label for="drop" class="toggle">Меню</label>
                    <input type="checkbox" id="drop">
                    <ul class="menu mt-2">
                        <li><a href="{% url 'home' %}">Главная</a></li>
                        <li><a href="{% url 'news' %}">Новости</a></li>
                        <li>
                            <!-- First Tier Drop Down -->
                            <label for="drop-2" class="toggle">Категории <span class="fa fa-angle-down"
                                                                               aria-hidden="true"></span> </label>
                            <a href="#">Категории <span class="fa fa-angle-down" aria-hidden="true"></span></a>
                            <input type="checkbox" id="drop-2">
                            <ul>
                                <li><a href="{% url 'category-movies' %}">Фильмы</a></li>
                                <li><a href="{% url 'category-series' %}">Сериалы</a></li>
                                <li><a href="{% url 'category-cartoon' %}">Мультфильмы</a></li>
                            </ul>
                        </li>
                        {% if request.user.is_authenticated %}
                        <li><a href="{% url 'added' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Мои фильмы</a></li>
                        <li><a href="{% url 'account-settings' %}" style="color: rgb(255, 255, 255); font-weight: bold; text-transform: uppercase;">Пользователь: {{ user.username }}</a></li>
                        <li><a href="{% url 'logout' %}" style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Выйти</a></li>
                        {% else %}
                        <li><a href="{% url 'registration' %}"
                               style="color: rgb(255, 255, 255); font-weight: 700; text-transform: uppercase;">Войти/Зарегистрироваться</a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                <!-- //nav -->
            </div>
        </header>
    </div>

    {% if messages %}
        {% for message in messages %}
        <div style="text-align: center; margin-top: 30px">
            <div>
                <h2 style="font-weight: bold">{{ message }}</h2>
            </div>
        </div>
        {% endfor %}
    {% endif %}

    {% block content %}


    {% endblock content %}

    <script src="{% static 'js/scripts3.js' %}"></script>
    <script src="{% static 'js/scripts4.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
<!--    <script src="{% static 'js/scripts.js' %}"></script>-->
<!--    <script src="{% static 'js/scripts2.js' %}"></script>-->


</body>
</html>