{% extends 'home/base3.html' %}
{% block content %}

<div class="left-ads-display col-lg-8" style="margin: 0 auto; margin-top: 20px;">
    <div class="search-bar w3layouts-newsletter">
        <h3 class="sear-head editContent">Поиск вопроса</h3>
        <form id="search" action="{% url 'search-question' %}" method="get" class="d-flex editContent">
            <input type="search" placeholder="Введите вопрос..." name="search_query" class="form-control"
                   required="">
            <button type="submit" class="btn1 btn"><span class="fa fa-search" aria-hidden="true"></span></button>
        </form>
    </div>
    <hr>
    <p><a href="{{ previous_page }}" class="pr_p"> << К вопросам </a></p>
    <h3 style="margin-bottom: 20px;"> {{ question.subject }} {{ question.user }} - ({{ question.created }})</h3>
    <div>{% autoescape off %}{{ question.question }}{% endautoescape %}</div>
    <hr>
    <div class="row">
    {% if request.user.is_authenticated %}
            <div class="single-form-left">
                <!-- contact form grid -->
                <div class="contact-single">
                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                                        <span class="sub-tittle editContent"
                                              style="outline: none; cursor: inherit;"></span>Оставить отзыв</h3>
                    <form action="{% url 'detail-question' question.id %}" method="POST" class="mt-4">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="d-sm-flex">
                            <div class="col-sm-6 form-group p-0 editContent"
                                 style="outline: none; cursor: inherit;">
                                <label class="editContent"
                                       style="outline: none; cursor: inherit;">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        </div>
                        {% endfor %}
                        <input type="submit"
                                class="mt-3 btn_gray btn-success btn-block py-3"
                                style="cursor: pointer; font-size: 20px;" value="Отправить">
                    </form>
                </div>
            </div>
    {% else %}
            <a href="{% url 'login' %}" style="font-weight: bold;">Пожалуйста войдите, чтобы оставить отзыв.</a>
    {% endif %}

        <div class="gggggggg" style="width: 900px">
            {% if review_body_check %}
            <h3 class="editContent" style="outline: none; cursor: inherit; margin-top: 15px;">
                                        <span class="sub-tittle editContent"
                                              style="outline: none; cursor: inherit;"></span>Отзывы:</h3>
            {% endif %}
            <div class="prfota wr prfot">
                {% for review in question.reviewquestion_set.all %}
                    {% if review.body %}
                        <div class="twentytwenty">
                            <div class="media py-5">
                                <div class="media-body mt-4">
                                    <h5 class="mt-0 editContent"
                                        style="outline: none; cursor: inherit;">{{ review.owner.username }} ({{ review.created }})</h5>
                                    <p class="mt-2 editContent" style="outline: none; cursor: inherit;">
                                        {{ review.body|linebreaksbr }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if review_body_check > 1 %}
                <p><button class="btn_gray">Показать еще</button></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}